<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520982352544-b48ao1ccltblfssacg7nr75fks8g0ena.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520982352544-b48ao1ccltblfssacg7nr75fks8g0ena</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520982352544-g1kuhs2dl69ipm0iuog4vacgam6s0sli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcSQKlvrNcYsb0FVYrp9qOPWb-5wvz5YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>520982352544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.zarwh</string>
	<key>PROJECT_ID</key>
	<string>zarwh-93d89</string>
	<key>STORAGE_BUCKET</key>
	<string>zarwh-93d89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520982352544:ios:fb4be778e25576012cefc5</string>
</dict>
</plist>